
.orta b{
    margin-top: 15px;
    background: #555;
    text-align: center;
	color: #fff;
}	
 
 
.alt{
    background: #555;
    padding: 20px;
    text-align: center;
    color: #fff;
}
